extends ../layouts/main-layout.pug

block style
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/form.css")

block content
        main
            form.product-form(action=editing ? '/admin/edit-product' : 'add-product', method="POST")
                .form-control
                    label(for="title") Title
                    input#title(type="text", name="title", required, placeholder="title" value=editing ? product.title : undefined)
                .form-control
                    label(for="imageUrl") Image Url
                    input#imageUrl(type="url", name="imageUrl", required, placeholder="imageUrl" value=editing ? product.imgUrl : undefined)
                .form-control
                    label(for="price") Price
                    input#price(type="number", name="price", required, placeholder="price" min="1" step="1" value=editing ? product.price : undefined)
                .form-control
                    label(for="description") Description
                    textarea#description(type="text", name="description", required, placeholder="description", rows="5") #{editing ? product.description : undefined}
                if editing
                    input(type="hidden", value=product.id, name="productId")
                if editing
                    button.btn(type="submit") Update Product
                else
                    button.btn(type="submit") Add Product