extends ../layouts/main-layout.pug

block style
    link(rel="stylesheet", href="/css/main.css")

block content
    main
        if prods.length > 0
            ul 
                each product in prods
                    li 
                        h3 Title: #{product.productData.title}
                        img(src=`${product.productData.imgUrl}`)
                        h3 Description: #{product.productData.description}
                        h3 Price: #{product.productData.price}
                        h3 Quantity #{product.qty}
                        form(action="/cart-delete-item" method="POST") 
                            input(type="hidden", name="productId", value=product.productData.id)
                            button.btn(type="submit") Delete
        else
            h1 Không có sản phẩm nào trong giỏ hàng